@model IEnumerable<Medicamento>
@{
    ViewData["Title"] = "Lista de Medicamentos";
}
<div class="row">
   
        @foreach (var item in Model)
        {
            @if(@item.EstadoM.ToString() == "Activo")
            {
            <div class="col-md-4 col-xs-6 border-primary mb-3">
                <div class="card mb-3 mt-4" style="max-width: 305px;">
                    <div class="row g-0">
                        <div class="col-md-12 mb-4">
                            <div class="card-header text-white" style="background-color: #2D3589;">
                                <p class="card-text ">
                                    <h5 class="card-title">
                                        @item.Nombre
                                        @if (User.Identity.IsAuthenticated && User.IsInRole("Admin"))
                                        {
                                            <a class="text-white float-right" asp-action="Edit" asp-route-id="@item.Id"><i class="bi bi-pencil-square"></i></a>
                                        }

                                    </h5>
                                </p>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <center> <img src="@item.Img_Medicamento" width="250px" height="300px" alt="@item.Nombre">
                        </div>
                        <div class="col-md-6">
                            <div class="card-body">
                                @*<p class="card-text"></p>
                        <p class="card-text"><b>Cinema: </b>@item.Cinema.Name</p>
                        <p class="card-text"><b>Category: </b>@item.MovieCategory</p>
                        <p class="card-text"><b>Start Date: </b>@item.StartDate.ToString("dd MMM yy")</p>
                        <p class="card-text"><b>End Date: </b>@item.EndDate.ToString("dd MMM yy")</p>
                        <p class="card-text ">
                        <b>Status: </b>
                        @if(DateTime.Now >= item.StartDate && DateTime.Now <= item.EndDate )
                        {
                        <span class="badge bg-success text-white">AVAILABLE</span>
                        }
                        else if(DateTime.Now > item.EndDate)
                        {
                        <span class="bage bg-danger text-white">EXPIRED</span>
                        }
                        else
                        {
                        <span class="bage bg-primary text-white">UPCOMING</span>

                        }
                        </p>*@
                                <p class="card-text" >
                                    <b> Precio: $</b>@item.Precio
                                    <b>Existencias:</b>@item.Existencias
                                    <b>Disponibilidad: </b> @if(item.Existencias > 0){
                                        <span class="text-success"><i class="bi bi-emoji-smile"></i> En Stock</span>
                                    }
                                    else{
                                        <span class="text-danger"><i class="bi bi-emoji-frown"></i> Agotado</span>
                                    }
                                </p>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="card-footer ">
                                <p class="card-text">

                                    <a class=" btn text-white float-right" style="background-color: #2D3589;" asp-action="Details" asp-route-id="@item.Id"><i class="bi bi-eye-fill"></i>Ver mas</a>
                                    <a class="btn text-white  @((item.Existencias <= 0)? "disabled" : "") " style="background-color: #45B449;" asp-controller="Ordenes" asp-action="AddItemToCarritoOfCompras" asp-route-id="@item.Id"><i class="bi bi-cart-plus"></i>Agregar al carrito</a>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }

    }

</div>
@section Scripts{
    <script>
        $(document).ready(function() {
            $('#table').DataTable();
        });
    </script>
}