@using mioPharma.Data.ViewModels
@model CarritoCompraVM

@{
    ViewData["Title"] = "Resumen de lista de Compras";
}

<div class="row">
    <div class="col-md-8 offset-2">
        <div class="text-center">
            <h2>You Shopping cart summary</h2>
        </div>
        <table class="table">
            <thead>
                <tr>
                    <th>Selected amount</th>
                    <th>Movie</th>
                    <th>Price</th>
                    <th>Subtotal</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.CarritoCompra.CarritoCompraItems)
                {
                    <tr>
                        <td class="align-middle">@item.Cantidad</td>
                        <td class="align-middle">@item.Medicamento.Nombre</td>
                        <td class="align-middle">@item.Medicamento.Precio.ToString("c")</td>
                        <td class="align-middle">@((item.Cantidad * item.Medicamento.Precio).ToString("c"))</td>
                        <td class="align-middle">
                            <a class="text-danger" asp-controller="Ordenes" asp-action="RemoveItemFromCarritoOfCompras" asp-route-id="@item.Medicamento.Id"><i class="bg-info bi-cart-dash"></i></a>
                            <a class="text-success" asp-controller="Ordenes" asp-action="AddItemToCarritoOfCompras" asp-route-id="@item.Medicamento.Id"><i class="bg-info bi-cart-plus"></i></a>
                        </td>
                    </tr>
                }
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="2"></td>
                    <td><b>Total:</b></td>
                    <td>
                        @Model.CarritoCompraTotal.ToString("c")
                    </td>
                </tr>
            </tfoot>
        </table>
        <div class="text-center">
            <div class="btn-group">
                <a class="btn btn-outline-primary" asp-action="CompletarOrden">
                    Completar Orden
                </a>
                <a class="btn btn-outline-success" asp-controller="Medicamentos" asp-action="Index">Add more items</a>
            </div>

        </div>
    </div>

</div>