@model IEnumerable<Cliente>
@{
    ViewData["Title"] = "Lista de Clientes";
}
<div class="row">
    <div class="col-md-10 offset-md-1">
        <div class="text-white" style="color:black;">
            <a asp-controller="Clientes" asp-action="Create" class="btn btn-secondary"><i class="bi bi-file-earmark-plus"></i></a>
        </div>
        <table id="table" class="table">
            <thead>
                <tr class="text-center text-white" style="background-color: #0D6EFD;">
                    <th>@Html.DisplayNameFor(model => model.Nombre)</th>
                    <th>@Html.DisplayNameFor(model => model.Apellido)</th>
                    <th>@Html.DisplayNameFor(model => model.Correo)</th>
                    <th>@Html.DisplayNameFor(model => model.Telefono)</th>
                    <th>@Html.DisplayNameFor(model => model.EstadoC)</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td class="align-middle">
                            @Html.DisplayFor(modelItem => item.Nombre)
                        </td>
                        <td class="align-middle">
                            @Html.DisplayFor(modelItem => item.Apellido)
                        </td>
                        <td class="align-middle">
                            @Html.DisplayFor(modelItem => item.Correo)
                        </td>
                        <td class="align-middle">
                            @Html.DisplayFor(modelItem => item.Telefono)
                        </td>
                        <td class="align-middle">
                            @Html.DisplayFor(modelItem => item.EstadoC)
                        </td>
                        <td class="align-middle">
                            <a class="btn btn-dark" asp-action="Edit" asp-route-id="@item.Id"><i class="bi bi-pencil-square" ></i></a>
                            @if (item.EstadoC.ToString() == "Activo")
                            {
                                <a class="btn btn-warning" asp-action="EditState" asp-route-id="@item.Id" asp-route-state="Desactivar" ><i class="bi bi-person-dash-fill"></i></a>
                            }
                            else
                            {
                                <a class="btn btn-success" asp-action="EditState" asp-route-id="@item.Id" asp-route-state="Activar" ><i class="bi bi-person-plus-fill"></i></a>
                            }
                            <a class="btn btn-dark" asp-action="EditPassword" asp-route-id="@item.Id"><i class="bi bi-key"></i></a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
@section Scripts{ 
    <script>
      $(document).ready(function () {
    $('#table').DataTable();
});
    </script>
}